*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Main-Container
{
    background-color: rgb(20, 19, 19);
    color: white;
    width: 23%;
    border-radius: 30px;
    font-size: 0.4rem;
     margin-top: 1.4%; 
    margin-left: 6.6%;
    text-align: center;
    box-shadow:  20px 2px 50px rgb(71, 81, 67);
    padding: 4rem;
    position: fixed;
}
.Main-Container .Image-Container
{
  border: 2px solid white;
  border-radius: 30%;
  margin-left: 4px;
  width: 200px;
  height: 180px;
  overflow: hidden;
  background-color: black;
  position: absolute;
  top: 5px;
}
.Name
{
    margin-top: 150px;
    font-size: 12px;
}
.Main-Container .title
{
    border: 2px solid rgb(231, 225, 225);
    font-size: 0.9rem;
    margin-top: 20px;
    padding: 10px;
    text-transform: bold;
    border-radius: 30px;
    background-color: black;
    transition: all 0.6s ease-in-out;
    opacity: 0.8s;
}

.Main-Container .title:hover
{
    cursor: pointer;
    border: 2px solid rgb(120, 153, 239); 
    color: rgb(87, 129, 234);
}
.Line
{
    margin-top: 10%;
    opacity: 0.5;
    width: 45%;
    margin-left: 30%;
}
.Social-Container
{
    margin-top: 15px;
    text-align: left;
}
.Social-Container .Scocial-item
{
    font-size: 1.4rem;
    display: block;
    position: relative;
}
.Scocial-item .Scocial-Title
{
    position: absolute;
    top:8.5%;
    left:50px;
    opacity: 0.7;
    align-items: center;
}
.Scocial-item .Social-description
{
    font-size: 17px;
    margin-left: 2.4rem;
    transition: all 0.3s ease-in-out;
}
.Scocial-item .Social-description:hover
{
    cursor: pointer;
    color: rgb(87, 129, 234);
}
.Social-icon
{
    margin-top: 20px;
    font-size: 1.3rem;
    color: white;
    width: 10%;
    padding: 3px;
    border-radius: 10PX;
    transition: all 0.6s ease-in-out;
}
.Social-icon:hover
{
    cursor: pointer;
    color: rgb(87, 129, 234);
}
/* Links tag */
.Links
{
    text-transform: none;
    color: white;
    transition: all 0.6s ease-in-out;
}
.Links:hover
{
    color: rgb(87, 129, 234);
}
.icons
{
    display: flex;
    gap: 14px;
    margin-left: 19px;
}